html, body
{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

.container-main
{
    height: 100%;
    width: 100%;
    display: flex;
}

.container-menu
{
    height: 100%;
    width: 30%;
}

.container-content
{
    height: 100%;
    width: 70%;
}

.content
{
    background-color: lightgray;
    margin-top: 0.1in;
    margin-left: 0.1in;
}

.menu
{
    width: calc(100% - 0.1in);
    height: calc(100% - 0.2in);
    text-align: center;
    vertical-align: middle;
}

 .data-top
{
    width: calc(100% - 0.2in);
    height: calc(50% - 0.15in);
    margin-right: 0.1in;
}

.data-bottom
{
    width: calc(100% - 0.2in);
    height: calc(50% - 0.15in);
    margin-right: 0.1in;
}